<h1>New List</h1>

<%= simple_form_for @list do |f| %>
  <%= f.input :name %>
  <%= f.input :photo, as: :file %>
  <%= f.submit "Create new list", class: "btn btn-primary" %>
<% end %>

<h2><%= link_to 'Return to Index Lists', root_path %></h2>
